.commit
.vscode
**/build
**/.binfo
**/__pycache__
**/makefile
**/Makefile
**/.pytest-eosiocdt
.pytest_cache
.python-version
local_stript.sh 
telos_contracts
Notas.txt
temp
output.txt
output_koine.txt
.local


